*{
    margin: 0px;
    padding: 0px;
}
header{
    background-color: #000000;
}
p li{
    font-family:  Cambria;
    margin-top: 7px;
    margin-bottom: 7px;
}
main{
    margin-top: 40px;
    text-align: left;
    margin-left: 150px;
    margin-right: 100px;
}
.logo{
    width: 250px;
    margin-left: 20px;
}
body{
    background-color: rgb(29, 29, 29);
    color: white;
}
.div_info{
    display: inline-block;
    border: 3px solid white;
    padding: 10px;
    border-radius: 15px;
}
article, section{
    font-size: 20px;
}
.diff_easy .progress {
    background-color: green;
  }
  
  div.diff_med progress {
    background-color: yellow; /* Remplacez la couleur par celle souhaitée */
  }
  
  /* Couleur de la barre de progression "Risks: Moderate" */
  div.risk_mod progress {
    background-color: yellow; /* Remplacez la couleur par celle souhaitée */
  }
  .risk_0 .progress {
    background-color: green;
  }